<div class="w-30rem mx-auto sticky-card">
  <div class="w-full flex p-2 mb-3">
    <div class="w-6 flex flex-column gap-3">
      <span class="font-bold text-lg">Collaborators:</span>
      <p-avatarGroup>
        <p-avatar
          *ngIf="selectedCollaborators && selectedCollaborators.length == 0"
          size="normal"
          label="0"
          shape="circle"
        ></p-avatar>
        <ng-container
          *ngFor="let teacher of selectedCollaborators; let i = index"
          ><p-avatar
            *ngIf="i < 4"
            size="normal"
            icon="pi pi-user"
            shape="circle"
          ></p-avatar
        ></ng-container>
        <p-avatar
          *ngIf="selectedCollaborators && selectedCollaborators.length > 4"
          size="normal"
          [label]="'+' + (selectedCollaborators.length - 4)"
          styleClass="bg-primary"
          shape="circle"
        ></p-avatar>
      </p-avatarGroup>
    </div>
    <div class="w-6 flex flex-column gap-3">
      <span class="font-bold text-lg">Students:</span>
      <p-avatarGroup>
        <p-avatar
          *ngIf="selectedStudents.length == 0"
          size="normal"
          label="0"
          shape="circle"
        ></p-avatar>
        <ng-container *ngFor="let student of selectedStudents; let i = index"
          ><p-avatar
            *ngIf="i < 4"
            size="normal"
            icon="pi pi-user"
            shape="circle"
          ></p-avatar
        ></ng-container>
        <p-avatar
          *ngIf="selectedStudents.length > 4"
          size="normal"
          [label]="'+' + (selectedStudents.length - 4)"
          styleClass="bg-primary"
          shape="circle"
        ></p-avatar>
      </p-avatarGroup>
    </div>
  </div>
  <p-card header="Summary" class="sticky-card">
    <b>Questions:</b>
    <div class="mt-3">
      <div
        class="w-3rem h-4rem border-1 border-300 surface-900"
        *ngIf="questions.length < 1"
      >
        <div
          class="w-full h-2rem bg-white flex justify-content-center align-items-center"
        >
          ?
        </div>
      </div>
      <div *ngIf="questions.length > 0" class="w-full flex gap-3 flex-wrap">
        <div
          *ngFor="let question of questions.controls; let i = index"
          class="w-3rem h-4rem border-1 border-300 cursor-pointer"
          [ngClass]="question.invalid ? 'bg-red-500' : 'bg-green-600'"
        >
          <a href="/create#question-{{ i }}" class="text-color-secondary no-underline">
            <div
              class="w-full h-2rem bg-white flex justify-content-center align-items-center"
            >
              {{ i + 1 }}.
            </div>
          </a>
        </div>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <div class="flex flex-column">
        <p-messages
          [(value)]="testFormErrorMessage"
          [enableService]="true"
          *ngIf="form.invalid"
          [closable]="false"
        ></p-messages>
        <app-button
          [text]="testCreation ? 'Create test' : 'Save test'"
          [is_disabled]="form.invalid"
          [button_class_type]="'w-full'"
          (click)="onHandleCreateNewTest()"
        ></app-button>
      </div>
    </ng-template>
  </p-card>
</div>
