<div class="card w-75 mx-auto">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div>
      {{ test.subject }}
      <app-button
        [button_class_type]="'link'"
        [is_button_small]="true"
        [btn_has_icon]="true"
        [btn_icon_class]="'fa-solid ' + submenu_icon"
        (click)="openCollaboratorsSubmenu()"
      ></app-button>
    </div>
    <div class="d-flex gap-3 align-items-center">
      <b><span>Creator: </span></b>
      <div class="d-flex gap-2 align-items-center">
        <i class="fa-solid fa-user" style="font-size: 15px"></i>
        <span style="font-size: 15px">{{ test.creator.fullname }}</span>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div *ngIf="is_submenu_open">
      <h4 class="mt-0 mb-2">Collaborators</h4>
      <div
        *ngIf="test && test.collaborators.length > 0"
        class="w-full border rounded p-2 mb-3"
      >
        <div class="d-flex gap-3">
          <div *ngFor="let collaborator of test.collaborators">
            <i class="fa-solid fa-user me-2"></i>
            {{ collaborator.fullname }}
          </div>
        </div>
      </div>
      <span *ngIf="test && test.collaborators.length == 0"
        >There are no collaborators yet.</span
      >
    </div>

    <div class="card-text">body</div>
  </div>
  <div class="card-footer">
    <div class="dropdown {{ dropdown_open ? 'open' : '' }}">
      <app-button
        [btn_has_icon]="true"
        [btn_icon_class]="'fa-solid fa-gear'"
        [is_button_link]="true"
        (click)="toggleSettingsDropdown()"
      ></app-button>
      <div class="dropdown-menu">
        <h4 class="dropdown-header">Settings</h4>
        <div class="dropdown-item">Action</div>
      </div>
    </div>
  </div>
</div>
