<p-panel>
  <ng-template pTemplate="header">
    <div class="w-full flex align-items-center justify-content-between">
      <div class="flex gap-2 align-items-center">
        <span class="font-semibold text-xl">{{ test.subject }}</span>
        <app-button
          [button_has_icon]="true"
          [btn_icon_class]="'pi pi-users'"
          [button_class_type]="'p-button-secondary p-button-text'"
          [tooltip_text]="'Collaborators'"
          (click)="toggleCollaboratorsSubmenu()"
        ></app-button>
      </div>
      <div>
        <p-avatar
          
          styleClass="mr-1"
          shape="circle"
          [style]="{ 'background-color': '#3b82f6ff', color: '#fff' }"
        ></p-avatar>
      </div>
    </div>
  </ng-template>
  <p-card
    *ngIf="is_submenu_open"
    pAnimate
    enterClass="flip"
    leaveClass="fadeoutleft"
    class="animation-duration-1000 animation-ease-out"
  >
    <span *ngIf="test.collaborators.length == 0"
      >There are no collaborators.</span
    >
    <div class="flex gap-3" *ngIf="test.collaborators.length > 0">
      <div *ngFor="let collaborator of test.collaborators">
        <p-avatar
          label="{{ getCollaboratorInitials(collaborator) }}"
          styleClass="mr-1"
          shape="circle"
          [style]="{ 'background-color': '#3b82f6ff', color: '#fff' }"
        ></p-avatar>
        {{ collaborator.fullname }}
      </div>
    </div>
  </p-card>
  <div class="flex flex-column gap-2 {{ is_submenu_open ? 'mt-5' : '' }}">
    <span class="text-bold">Finished tests:</span>
    <p-progressBar [value]="(1 * 100) / test.students.length"></p-progressBar>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex justify-content-between">
      <app-button
        [button_has_icon]="true"
        [btn_icon_class]="'pi pi-cog'"
        [button_class_type]="
          'p-button-rounded p-button-secondary p-button-text'
        "
        [menu_items]="menu_items"
      ></app-button>
      <div>
        <app-button
          [button_has_icon]="true"
          [btn_icon_class]="'pi pi-eye'"
          [button_class_type]="
            'p-button-rounded p-button-secondary p-button-text'
          "
          (click)="onHandleNavigateToTest(test)"
        ></app-button>
      </div>
    </div>
  </ng-template>
</p-panel>
