<header
  class="w-full h-5rem px-5 flex align-items-center justify-content-between"
>
  <div>logo</div>
  <div *ngIf="user" class="flex align-items-center gap-5">
    <ul class="flex gap-4 text-sm" style="list-style-type: none">
      <li>
        <a routerLink="" style="text-decoration: none; color: #fff"
          >Dashboard</a
        >
      </li>
      <li>Messages</li>
    </ul>
  </div>
  <div *ngIf="user" class="flex gap-5 align-items-center mr-5">
    <i class="pi pi-bell mr-3" style="font-size: 1.3rem"></i>
    <div class="flex align-items-center gap-3">
      <p-avatar
        icon="pi pi-user"
        [style]="{ 'background-color': '#2196f3' }"
        size="normal"
        shape="circle"
      ></p-avatar>
      <span (click)="logout()" class="font-semibold" style="font-size: 0.9rem">{{
        user.fullname
      }}</span>
    </div>
  </div>
</header>
