<clr-radio-container *ngIf="type == 'radio'">
  <clr-radio-wrapper>
    <input type="radio" clrRadio value="answer1" name="answer1" />
    <label>Answer 2</label>
  </clr-radio-wrapper>
  <clr-radio-wrapper>
    <input type="radio" clrRadio value="answer1" name="answer1" />
    <label>Answer 2</label>
  </clr-radio-wrapper>
  <clr-radio-wrapper>
    <input type="radio" clrRadio value="answer1" name="answer1" />
    <label>Answer 3</label>
  </clr-radio-wrapper>
</clr-radio-container>

<clr-checkbox-container *ngIf="type == 'checkbox'">
  <label>More than one answers are right.</label>
  <clr-checkbox-wrapper>
    <input type="checkbox" clrCheckbox value="answer1" name="answer1" />
    <label>Answer 2</label>
  </clr-checkbox-wrapper>
  <clr-checkbox-wrapper>
    <input type="checkbox" clrCheckbox value="answer1" name="answer1" />
    <label>Answer 2</label>
  </clr-checkbox-wrapper>
  <clr-checkbox-wrapper>
    <input type="checkbox" clrCheckbox value="answer1" name="answer1" />
    <label>Answer 3</label>
  </clr-checkbox-wrapper>
</clr-checkbox-container>
<clr-textarea-container *ngIf="type == 'textarea'">
  <textarea clrTextarea name="answer"></textarea>
  <clr-control-helper>0/50</clr-control-helper>
</clr-textarea-container>
