<div class="p-4">
  <div class="w-full flex justify-content-between gap-2">
    <div class="w-6">
      <div class="w-full">
        <div class="w-9 mx-auto flex gap-2">
          <p-skeleton *ngIf="!tests" width="10rem" height="3rem"></p-skeleton>
          <p-skeleton *ngIf="!tests" width="10rem" height="3rem"></p-skeleton>
          <p-skeleton *ngIf="!tests" width="10rem" height="3rem"></p-skeleton>
          <app-button
            *ngIf="tests"
            [button_class_type]="'sm'"
            [text]="'Create new test'"
            (click)="onHandleNavigateToCreateNewTest()"
          ></app-button>
        </div>
      </div>
      <div class="w-10 mx-auto mt-8">
        <p-skeleton *ngIf="!tests" width="29rem" height="3rem"></p-skeleton>
        <p-menubar *ngIf="tests" [model]="menubarItems">
          <ng-template pTemplate="end">
            <input
              type="search"
              pInputText
              placeholder="Search"
              class="w-full"
              [disabled]="handleFilterDisabling()"
            />
          </ng-template>
        </p-menubar>
      </div>
      <div class="w-full">
        <div *ngIf="tests && tests.length > 0" class="w-10 mx-auto">
          <p class="text-xl">{{ selectedFilter }}</p>
        </div>
        <div
          class="w-10 mx-auto flex flex-column gap-3"
          *ngIf="tests && tests.length > 0"
        >
          <app-test-card
            *ngFor="let test of tests"
            [test]="test"
            class="mt-3"
          ></app-test-card>
        </div>
        <div
          *ngIf="tests && tests.length > 0"
          class="w-full flex justify-content-center mt-5"
        >
          <app-button
            [is_disabled]="isLast"
            [text]="'Load more'"
            (click)="loadMoreData()"
          ></app-button>
        </div>
        <div class="w-10 mx-auto" *ngIf="tests && tests.length == 0">
          <p-card styleClass="flex justify-content-center"
            >There are no available tests for you!</p-card
          >
        </div>
      </div>
    </div>
    <div class="w-6 p-2">
      <app-calendar></app-calendar>
    </div>
  </div>
</div>
