<div class="p-4">
  <div class="w-full d-flex justify-content-between gap-2">
    <div class="w-50">
      <div class="w-full mb-3 p-2 d-flex">
        <app-button
          [button_class_type]="'primary'"
          [text]="'Create new test'"
        ></app-button>
      </div>
      <div class="w-full p-2 d-flex flex-column">
        <div *ngIf="tests && tests.length > 0">
          <app-test-card
            *ngFor="let test of tests"
            [test]="test"
          ></app-test-card>
        </div>
        <span *ngIf="tests && tests.length == 0"
          >There are no tests in your profile.</span
        >
      </div>
    </div>
    <div class="w-50 p-2">Itt egy naptár lesz.</div>
  </div>
</div>
